@import "fonts";

$color-primary: rgba(#333, .9) !default;
$color-secondary: rgba(#333, .4) !default;

$type-gotham: 'Gotham SSm A', 'Gotham SSm B';
$type-idlewild: 'Idlewild SSm A', 'Idlewild SSm B';

// Force the box model to use the saner border-box calculation.
*, *:before, *:after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

// Reset the look of standard elements.
h1 {
  margin: 0;

  font-size: 42px;
  font-weight: 500;
  letter-spacing: -3px;
  line-height: 42px;
}
p {
  margin: 0;

  font-size: 18px;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 18px;
}

// .overlay-container
.overlay-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 64px;
  width: 1280px; height: 720px;

  background: #000;
  color: $color-primary;
  font-family: $type-idlewild;
}

// Placeholders.
%animated {
  position: relative;
  transform: translate3d(0, 0, 0);
}

// .overlay-bumper
.overlay-bumper {
  display: inline-flex;
  flex-direction: column;
  overflow: hidden;
  width: 1152px; height: 112px;

  background: rgba(#fff, .95);
  // border-radius: 2px;
  text-align: right;

  @extend %animated;
  animation-delay: 500ms;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
  animation-name: overlay-bumper-box-appear;
  animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);

  .game-title {
    margin: 22px 32px 6px 0;
    color: rgba($color-primary, .0);

    @extend %animated;
    animation-delay: 2000ms;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    animation-name: overlay-bumper-game-name-appear;
    animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
  }
  .byline {
    margin: 0 32px 0 0;
    color: rgba($color-secondary, .0);

    @extend %animated;
    animation-delay: 2100ms;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    animation-name: overlay-bumper-byline-appear;
    animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
  }
}

// .overlay-bumper Animations
@keyframes overlay-bumper-box-appear {
  0% { transform: translateX(-128px); width: 0px; height: 0px; }
  50% { transform: translateX(-128px); width: 5px; height: 112px; }
  100% { transform: translateX(0px); width: 1152px; }
}

@keyframes overlay-bumper-game-name-appear {
  0% { transform: translateX(128px); }
  100% { transform: translateX(0px); color: $color-primary; }
}

@keyframes overlay-bumper-byline-appear {
  0% { transform: translateX(128px); }
  100% { transform: translateX(0px); color: $color-secondary; }
}

// .social-bumper
.social-bumper {
  background: rgba(#000, .6);
  color: #fff;
  // margin-top: 5px;
  // border-radius: 2px;

  font-family: $type-gotham;
  height: 48px;

  @extend %animated;
  animation-delay: 500ms;
  animation-duration: 1500ms;
  animation-fill-mode: both;
  animation-name: social-bumper-box-appear;
  animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);

  .social-links {
    display: inline-flex;
    margin: 0;
    padding: 0;
    width: 1152px;

    list-style: none;
  }
  .social-link {
    flex: 1;
    padding-top: 3px;

    font-size: 14px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(#000, .5);

    &.facebook { padding-top: 6px; }
  }
}

.ss-icon {
  position: relative;
  top: 6px;
  margin-right: 4px;
  font-size: 24px;

  &.ss-facebook {
    top: 5px;
    color: #3b5998;
    font-size: 22px;
  }
  &.ss-twitter { color: #55acee; }
  &.ss-youtube { color: #e52d27; }
}


// .social-bumper Animations
@keyframes social-bumper-box-appear {
  0% { transform: translateX(-128px); width: 0px; height: 0px; }
  50% { transform: translateX(-128px); width: 5px; height: 48px; }
  100% { transform: translateX(0px); width: 1152px; }
}
