@import "fonts";

$color-primary: rgba(#333, .9) !default;
$color-secondary: rgba(#333, .4) !default;

$type-gotham: 'Gotham SSm A', 'Gotham SSm B';
$type-idlewild: 'Idlewild SSm A', 'Idlewild SSm B';

// Force the box model to use the saner border-box calculation.
*, *:before, *:after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

// Reset the look of standard elements.
body { background-color: #0f0; }
h1, h2, h3 {
  font-weight: 500;
  margin: 0;
}
h1 {
  font-size: 42px;
  letter-spacing: -3px;
  line-height: 42px;
}
h2 {
  font-size: 30px;
  letter-spacing: -1px;
  line-height: 30px;
}
h3 {
  font-size: 18px;
  letter-spacing: -1px;
  line-height: 18px;
}

p {
  margin: 0;

  font-size: 18px;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 18px;
}

// .overlay-container
.overlay-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px 64px;
  width: 1280px; height: 720px;

  color: $color-primary;
  font-family: $type-idlewild;
}

// Placeholders.
%animated {
  animation-fill-mode: both;
  position: relative;
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 0);
}

// View-specific stylesheet includes.
@import "overlays/bumpers";
@import "overlays/cinematics";
