<% wrap_layout :overlay do %>
<div class="overlay-bumper">
  <h1 class="game-title"><%= current_page.data.game %></h1>
  <p class="byline"><strong>Avalonstar</strong> Episode <%= data.broadcasts.first.keys[0] %></p>
</div>
<div class="social-bumper">
  <%= partial "partials/social" %>
</div>
<div class="bumper-background">
  <div class="bumper-background-image"
       cross-origin="anonymous"
       data-adaptive-background="1"
       data-ab-css-background="1"
       style="background-image: url('<%= current_page.data.image %>')">
  </div>
</div>
<% end %>
