<ul class="social-links">
  <li class="social-link twitter"><span class="ss-icon ss-twitter"></span> twitter.com/<strong>bryanveloso</strong></li>
  <li class="social-link facebook"><span class="ss-icon ss-facebook"></span> facebook.com/<strong>bryanveloso</strong></li>
  <li class="social-link youtube"><span class="ss-icon ss-youtube"></span> youtube.com/<strong>bryanveloso</strong></li>
</ul>
