// .overlay-container Overrides.
.overlays_prologue .overlay-container {
  padding-bottom: 64px;
  color: #fff;

  @extend %animated;
  animation-name: overlays-prologue-background-color-appear;
  animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

// .overlay-container Animations
@keyframes overlays-prologue-background-color-appear {
  0% { background-color: #000; }
  100% { background-color: #111; }
}

// .overlay-prologue
.overlay-prologue {
  display: flex;
  align-items: center;
  flex-direction: column;
}

// .prologue-loading
.prologue-loading {
  position: relative;
  width: 576px; height: 324px;

  @extend %animated;
  animation-name: prologue-loading-appear;
  animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);

  .prologue-image-overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%; height: 100%;
    z-index: 5;

    background-color: rgba(#000, 0.4);

    @extend %animated;
    animation-direction: alternate;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-name: prologue-image-overlay-pulse;
    animation-timing-function: ease-in-out;
  }
  .prologue-image {
    position: absolute;
    width: 576px; height: 324px;

    background-size: 100%;
  }
}

// .prologue-loading Animations
@keyframes prologue-loading-appear {
  0% { opacity: 0; }
  100% { opacity: 0.99; }
}

@keyframes prologue-image-overlay-pulse {
  0% { background-color: rgba(#000, 0.4); }
  100% { background-color: rgba(#000, 0.2); }
}

// .prologue-message
.prologue-message {
  margin-top: 3px;
  display: flex;
  width: 576px;

  background-color: #fff;
  border-top: 2px solid #111;
  transition: border-top-color 500ms ease-in-out;

  @extend %animated;
  animation-name: prologue-loading-appear;
  animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);

  .todays-game {
    display: block;
    flex: 1;
    padding: 8px 10px;

    color: $color-primary;
    font-weight: 600;
    letter-spacing: -1px;
  }
  .todays-date {
    padding: 8px 10px;

    background-color: #f7f7f7;
    border-left: 1px solid #eee;
    color: $color-secondary;
    font-weight: 600;
    letter-spacing: -1px;
  }
}

// .prologue-message Animations
@keyframes prologue-message-appear {
  0% { opacity: 0; }
  100% { opacity: 0.99; }
}

// .social-footer
.social-footer {
  position: absolute; right: 0; bottom: 0; left: 0;
  background: rgba(#000, .5);
  font-family: $type-gotham;
  height: 64px;

  @extend %animated;
  animation-name: social-footer-appear;
  animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);

  .social-links {
    display: inline-flex;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    width: 1280px;

    list-style: none;
  }
  .social-link {
    flex: 1;
    padding-top: 3px;

    color: rgba(#fff, 0.7);
    font-size: 14px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(#000, .5);

    strong { color: #fff; }
    &.facebook { padding-top: 6px; }
  }
}

// .social-footer Animations
@keyframes social-footer-appear {
  0% { opacity: 0; }
  100% { opacity: 0.99; }
}


// .spinner
.spinner {
  margin: 100px auto;
  height: 30px;
  text-align: center;
  font-size: 10px;

  & > div {
    height: 100%;
    width: 6px;
    display: inline-block;

    background-color: rgba(#fff, 0.9);
    animation: stretchdelay 1.2s infinite ease-in-out;
  }

  .rect2 { animation-delay: -1.1s; }
  .rect3 { animation-delay: -1.0s; }
  .rect4 { animation-delay: -0.9s; }
  .rect5 { animation-delay: -0.8s; }
}

// .spinner Animations
@keyframes stretchdelay {
  0%, 40%, 100% { transform: scaleY(0.4); }
  20% { transform: scaleY(1.0); }
}

// Animation Delays and Durations
// (In order of appearance.)
.overlays_prologue .overlay-container {
  animation-delay: 500ms;               // start:    500ms
  animation-duration: 1000ms;           // end:     1500ms
}

.prologue-loading {
  animation-delay: 1500ms;              // start:   1500ms
  animation-duration: 1500ms;           // end:     3000ms
}

.prologue-message {
  animation-delay: 2000ms;              // start:   2000ms
  animation-duration: 1500ms;           // end:     3500ms
}

.social-footer {
  animation-delay: 2500ms;              // start:   2500ms
  animation-duration: 1500ms;           // end:     4000ms
}
